/*   Global    */

:root {
	--lightBlue: #00a8ff;
	--purple: #5f27cd;
	--linearGradient: linear-gradient(
		120deg,
		#0652dd,
		var(--lightBlue),
		#0652dd
	);
}

html,
body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: #ced6e0;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.container {
	box-shadow: 0px 0px 98px -15px rgba(0, 0, 0, 0.75);
}

#svgContainer {
	position: absolute;
	top: 0;
	left: 10%;
	width: 80%;
	height: 10%;
}

/*   Main Page   */

#moon {
	position: absolute;
	left: 1%;
	top: 2%;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
	font-size: x-small;
	cursor: pointer;
}

#sun {
	position: absolute;
	right: 1%;
	top: 2%;
	display: none;
	flex-direction: column;
	align-items: center;
	color: white;
	font-size: x-small;
	cursor: pointer;
}

#sun:hover,
#moon:hover {
	transform: scale(1.05);
}

#mainPage {
	height: 80%;
	width: 30%;
	background: white;
	position: absolute;
	top: 10%;
	-webkit-transform: translateY(-10%);
	-ms-transform: translateY(-10%);
	transform: translateY(-10%);
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block;
}

/*   Main Page   Header */
#mainHeader {
	height: 27%;
	width: 100%;
}

#hills {
	z-index: -1;
	width: 100%;
	height: 100%;
}

#title {
	margin: 40px;
	margin-left: 50px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	color: #ecf0f1;
	text-shadow: 1px 1px black;
	font-size: xx-large;
	transition: 0.5s all ease;
}

#mainHeader::before {
	content: "";
	position: absolute;
	right: 0;
	top: 0;
	height: 27.35%;
	width: 30%;
	background: rgba(0, 0, 0, 0.25);
}

#mainHeader::after {
	position: absolute;
	left: 0;
	top: 27.01%;
	content: "";
	height: 2px;
	width: 100%;
	background: var(--linearGradient);
}

#headerDate {
	color: wheat;
	position: absolute;
	top: 24%;
	left: 5%;
	font-size: xx-small;
}

#barContainer {
	cursor: pointer;
	position: absolute;
	top: 2%;
	left: 2%;
	width: 18px;
	height: 18px;
	font-size: 20px;
	display: block;
}

#bar {
	position: absolute;
	top: 2%;
	left: 2%;
	color: white;
}

#barContainer:hover {
	font-size: 22px;
}

#totalNotes {
	font-size: smaller;
	position: relative;
	bottom: 20%;
	left: 75%;
	color: whitesmoke;
}

#navContainer {
	position: absolute;
	top: 2%;
	left: 2%;
	color: white;
	background: rgba(0, 0, 0, 0.1);
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0%;
	display: none;
}

.navItem {
	transition: 0.5s all ease;
	padding: 5px;
	width: 80px;
	text-align: center;
	border: 0;
	border-radius: 0%;
	margin: 0;
}

.navItem:hover {
	background: var(--lightBlue);
	cursor: pointer;
}

.radioNav {
	display: none;
}

/* Body */

#bodyContainer {
	display: block;
	width: 100%;
	height: 73%;
	overflow: auto;
}

::-webkit-scrollbar {
	height: 80%;
	width: 10px;
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 168, 225, 0.5);
}

::-webkit-scrollbar-thumb:hover {
	background: var(--lightBlue);
}

::-webkit-scrollbar-track {
	background: transparent;
}

#listContainer {
	height: 100%;
	margin: 0px;
	margin-left: 10px;
	margin-right: 20px;
	padding: 0px;
	list-style-type: none;
}

/* Elements */

.listElement {
	position: relative;
	height: 15%;
	margin: 7px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	padding: 2px;
	padding-bottom: 7px;
	border-bottom: 0.5px solid gray;
}

.iconContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 42px;
	height: 42px;
	border-radius: 100px;
	border: 0.4px solid #b2bec3;
	color: var(--lightBlue);
}

.listElementTitle {
	position: relative;
	left: 10%;
}

.listElementAddress {
	position: absolute;
	left: 25%;
	bottom: 10%;
	font-size: small;
	color: grey;
}

.listElementTime {
	position: absolute;
	right: 0%;
	font-size: small;
}

.fa-play {
	color: var(--lightBlue);
	position: absolute;
	right: 7%;
	bottom: 7%;
	text-shadow: 0.5px 0.5px gray;
	font-size: 14px;
}

.fa-play:hover {
	cursor: pointer;
	font-size: 15px;
}

/* Footer */

#mainFooter {
	display: grid;
	grid-template-columns: 1fr;
	width: 100%;
	height: 8%;
	background: rgba(0, 0, 0, 0.05);
}

#footerText {
	grid-row: 2;
	padding: 1em;
}

/* Floating button */

#addButton {
	cursor: pointer;
	align-items: center;
	display: flex;
	justify-content: center;
	width: 42px;
	height: 42px;
	background: var(--linearGradient);
	background-size: 200%;
	position: absolute;
	bottom: 5%;
	right: -4%;
	border-radius: 100px;
	border: none;
	box-shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
	transition: 0.5s all ease;
}

#plus {
	font-size: 22px;
	color: white;
}

#addButton:hover {
	transform: rotate3d(0, 0, 1, 90deg);
}

/* New Action Page */

#newActivity {
	display: none;
	height: 80%;
	width: 30%;
	background: #273c75;
	position: absolute;
	top: 10%;
	transform: translateY(-10%);
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	align-content: center;
}

/* Header */

#arrowHolder {
	transition: 0.7s all ease;
	color: white;
	position: absolute;
	top: 5%;
	left: 5%;
	font-size: 36px;
	cursor: pointer;
}

#arrowHolder:hover {
	color: var(--lightBlue);
}

#naTitle {
	color: white;
	text-align: center;
	font-size: xx-large;
	padding: 20px;
	margin: 10px;
}

/* body */

#body {
	height: 84%;
	width: 100%;
	color: white;
	position: absolute;
	display: flex;
	flex-direction: column;
}

.bodyElement {
	transition: 0.7s all ease;
	z-index: 1;
	position: relative;
	height: 7%;
	background: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	border: none;
	margin: 10px;
	margin-left: 10%;
	margin-right: 10%;
	padding: 4px;
	padding-left: 15px;
	color: white;
	text-align: left;
	opacity: 0;
}

.fa-sort-down {
	position: absolute;
	right: 7%;
	bottom: 40%;
}

#types {
	z-index: 2;
	display: none;
	position: absolute;
	top: 17%;
	right: 15%;
	flex-direction: column;
	text-align: center;
	width: fit-content;
}

.radioElement {
	display: none;
}

.typeElement {
	background: rgba(0, 0, 0, 0.2);
	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}

.typeElement:hover {
	background: #0652dd;
}

#type,
#time {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#text {
	height: 20%;
}

#submit {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 60%;
	height: 35px;
	background: var(--linearGradient);
	transition: 0.5s all ease;
	border: none;
	border-radius: 100px;
	color: white;
	font-size: large;
	cursor: pointer;
	background-size: 200%;
	opacity: 0;
}

#submit:hover {
	background-position: right;
}

.fa-map-marker-alt {
	position: relative;
	top: -42px;
	left: 12px;
	cursor: pointer;
}

.fa-map-marker-alt span {
	font-size: xx-small;
	position: relative;
	left: -25px;
	bottom: -15px;
}

/* animation */

#currentTitle {
	animation: load 0.7s linear 0s forwards;
}

#type {
	animation: load 0.7s linear 0.5s forwards;
}

#address {
	animation: load 0.7s linear 1s forwards;
}

#time {
	animation: load 0.7s linear 1.5s forwards;
}

#text {
	animation: load 0.7s linear 2s forwards;
}

#submit {
	animation: load 0.7s linear 2.3s forwards;
}

@keyframes load {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0.25;
	}
	50% {
		opacity: 0.5;
	}
	75% {
		opacity: 0.75;
	}
	100% {
		opacity: 1;
	}
}

/* Detail */

#detail {
	color: white;
	background: #3a5499;
	display: none;
	grid-template-columns: 4fr 1fr 1fr;
	grid-auto-rows: 6vh;
	height: 59%;
	width: 30%;
	position: absolute;
	top: 31.9%;
	transform: translateY(-31.9%);
	left: 50%;
	transform: translateX(-50%);
}

.bottomNav {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#spacer {
	grid-column: 1/4;
}

#activityTitle {
	justify-self: left;
	font-size: 27px;
	margin: 0px;
	margin-left: 15%;
}

#activityType {
	color: lightgray;
	margin-left: 27%;
	font-size: 10px;
}

#activityTime {
	justify-self: right;
	margin-top: 15%;
	margin-right: 10%;
	font-size: 10px;
}

#activityAddress {
	justify-self: right;
	margin-top: 15%;
	font-size: 10px;
}

#activityText {
	background: rgb(255, 255, 255, 0.1);
	padding: 10px;
	grid-row: 4/9;
	grid-column: 1/4;
	margin: 7%;
	overflow: auto;
	border-radius: 10px;
	line-height: 24px;
}

#arrow,
#trash,
#edit {
	cursor: pointer;
	color: var(--lightBlue);
	grid-row: 9;
	grid-column: 1;
	align-self: center;
	font-size: large;
}

#arrow {
	justify-self: left;
	margin-left: 25%;
}

#trash {
	justify-self: right;
	margin-right: 20%;
}

#edit {
	grid-column: 2;
}

#arrow:hover,
#trash:hover,
#edit:hover {
	color: white;
}

/*********** Media Queries ***********/

/* Extra small devices (phones, 600px and down) */
@media (max-width: 600px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 80%;
	}

	#totalNotes {
		display: none;
	}

	.listElementTime {
		display: none;
	}
}

/* extremely small devices */
@media (max-width: 400px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (min-width: 600px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 60%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 45%;
	}

	#totalNotes {
		display: initial;
	}

	.listElementTime {
		display: initial;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 40%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (min-width: 1200px) {
	#mainPage,
	#newActivity,
	#detail {
		width: 30%;
	}
}
